.t-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.t-modal-item {
  background-color: #fff;
  border-radius: 5px;
  padding: 24px;
  width: 400px;
}
.t-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.t-modal-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.fa-triangle-exclamation {
  font-size: 30px;
  color: orangered;
}
.t-modal-footer {
  padding: 10px 0;
  display: flex;
  justify-content: end;
  gap: 8px;
}
.fa-xmar {
  cursor: pointer;
}
.fa-xmar:hover {
  color: #333;
}
